






.section-content {
  display: var(--xs-hidden);
  grid-column: var(--cols);
  grid-row: var(--rows);
  position: relative;
  align-items: center;
  z-index: var(--layer);
  clip-path: inset(0px 0px);

  &.background {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;

    > .section-content-inner {
      height: 100%;
      padding:0;
    }
  }

  &.no-padding {
    > .section-content-inner {
      height: 100%;
      padding:0;
    }
  }

  &.no-clip {
   clip-path: unset;
  }


  .section-content-inner {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: flex-start;
    align-content: stretch;
    row-gap: var(--size-3);
    padding: var(--size-3);
  }

  &.is-editing {

    .section-content-inner {
      border: 2px dashed;
      &:empty {
        border-color:rgba(255, 0, 0, 0.25);
      }
    }
  }
}

@media (max-width: 768px) {
  .section-content {
    align-items: flex-start;
  }
}
