.page-section {
  --page-grid-column-gap: var(--size-fluid-1);
  --page-grid-rows: 5;
  --page-grid-row-height: 9vh;
  --page-grid-row-gap-height: 1vh;
  --page-grid-gutter: clamp(1rem, 5vw, 10rem);
  --page-grid-template-columns: [left-gutter] var(--page-grid-gutter) [col] 1fr
    [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col]
    1fr [col] 1fr [col] 1fr [col] 1fr [col] var(--page-grid-gutter)
    [right-gutter];
  --page-grid-template-rows: repeat(
    var(--page-grid-rows),
    [row] var(--page-grid-row-height)
  );
  display: grid;
  position: relative;
  width: var(--page-width);
  grid-template-columns: var(--page-grid-template-columns);
  grid-template-rows: var(--page-grid-template-rows);
  grid-auto-rows: var(--page-grid-row-height);
  column-gap: var(--page-grid-column-gap);
  background: white;
  margin-block-end: var(--page-grid-row-gap-height);

  &.is-editing {
    box-shadow: 0px 0px 0px 2px var(--edit-color);
  }
}


