.page-section {
  --page-grid-column-gap: 0;
  --page-grid-row-gap: 0;
  --page-grid-horizontal-gutter: 5vw;
  --page-grid-vertical-gutter: 12dvh;
  --page-grid-template-columns: var(--page-grid-horizontal-gutter) 1fr
    var(--page-grid-horizontal-gutter);
  --page-grid-template-rows: var(--page-grid-vertical-gutter) auto
    var(--page-grid-vertical-gutter);

  --page-grid-areas: "top-left-gutter top-center-gutter top-right-gutter"
    "middle-left-gutter content middle-right-gutter"
    "bottom-left-gutter bottom-center-gutter bottom-right-gutter";

  display: grid;
  position: relative;
  width: var(--page-width);
  grid-template-columns: var(--page-grid-template-columns);
  grid-template-rows: var(--page-grid-template-rows);
  grid-template-areas: var(--page-grid-areas);
  column-gap: var(--page-grid-column-gap);
  row-gap: var(--page-grid-row-gap);
  justify-content: flex-start;
  align-content: flex-start;
  content-visibility: auto;
  
  > .builder-block:has(> div > video) {
    z-index: 0;

    video {
      width: 100dvw !important;
      height: 100dvh !important;
      position: fixed !important;
      inset-block-start: 0px !important;
    }
  }

  > .builder-block:has(> picture > img) {
    z-index: 0;

    img {
      width: 100dvw !important;
      height: 100dvh !important;
      position: fixed !important;
      inset-block-start: 0px !important;
    }
  }
}

section.page-section::before {
  content: "";
  position: sticky;
  width: 100dvw;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  height: var(--nav-block-start-height);
  z-index: var(--layer-2);
  background-color: inherit;
}

.page-section[class*="section-wave"] {
  mask-image: url(https://cdn.builder.io/api/v1/image/assets%2F13967baa747f4cf58ae49184d4bc4a26%2F77cee751d3814b72af5af9b34f5845f4?format=webp);
  mask-repeat: repeat-x;
  mask-position: 0% 0%;
  mask-size: 200vw auto;
  margin-block-start: -5dvh;
}

.section-bottom-wave-animated::after {
  animation: bottom-wave-animation 10s linear infinite;
}

@keyframes bottom-wave-animation {
  0% {
    transform: rotate(180deg) translateX(0dvw); /* Start from the right */
  }
  100% {
    transform: rotate(180deg) translateX(100dvw); /* Move to the left */
  }
}

@media (max-width: 640px) {
  .page-section {
    --page-grid-horizontal-gutter: var(--size-fluid-2);
  }
}

@media (min-width: 1480px) {
  .page-section {
    --page-grid-horizontal-gutter: 10vw;
  }
}
