.page-section {
  --page-grid-column-gap: var(--size-fluid-1);
  --page-grid-rows: 5;
  --page-grid-row-height: 9vh;
  --page-grid-row-gap: 1vh;
  --page-grid-gutter: clamp(1rem, 5vw, 10rem);
  --page-grid-template-columns: [left-gutter] var(--page-grid-gutter) [col] 1fr
    [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col]
    1fr [col] 1fr [col] 1fr [col] 1fr [col] var(--page-grid-gutter)
    [right-gutter];
  --page-grid-template-rows: repeat(
    var(--page-grid-rows),
    [row] var(--page-grid-row-height)
  );
  display: grid;
  position: relative;
  width: var(--page-width);
  grid-template-columns: var(--page-grid-template-columns);
  grid-template-rows: var(--page-grid-template-rows);
  grid-auto-rows: var(--page-grid-row-height);
  column-gap: var(--page-grid-column-gap);
  row-gap: var(--page-grid-row-gap);
  padding-block-end: var(--page-grid-row-gap);

  .grid-guide {
    opacity: 0;
    border: 1px dashed var(--surface-3);
    font-size: var(--font-size-00);
    display: flex;
    color: var(--surface-3);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: var(--font-weight-6);
  }

  &:hover .grid-guide {
    opacity: 1;
  }
}
