
#breakpoint-emulator {
    width:auto;
    height:40px;
    position:fixed;
    border-radius:8px;
    inset-block-start: 8px;
    inset-inline-start: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    gap:4px;
    overflow:hidden;
    max-width:6px;
    max-height:6px;
    background:rgba(255,0,0,0.9);
    backdrop-filter: blur(4px);
    z-index:var(--layer-5);

    transition: all ease-in-out .5s;

    &:hover {
      padding:.25rem;
      max-height:40px;
      max-width:400px;

    background:rgba(255,100,100,0.75);
      > button {
        opacity:1;
      }
    }

    button {
      width:32px;
      height:32px;
      padding:0;
      line-height:24px;
      font-size:small;
      outline:none!important;
      box-shadow: none!important;
      border:none!important;
      background:var(--surface-3);
      opacity:0;
      transition: all ease-in-out .5s;

      &.selected {
        background:var(--surface-2);
      }

    }
}

