.announcement-bar {
    display:flex;
    color:var(--color-1);
    justify-content: center;
    align-items: center;
    z-index:var(--layer-5);
    width:100%;
    height:var(--announcement-bar-height);
    position: relative;
    transition: all 0.25s ease-in-out;
}