.announcement-bar {
    display:flex;
    background:lightblue;
    justify-content: center;
    align-items: center;
    z-index:var(--layer-5);
    width:100%;
    height:var(--announcement-bar-height);
}