.nav-block-start {
  z-index: var(--layer-4);
  position:sticky;
  inset-block-start: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--surface-0);
  opacity:1;
  width: 100%;
  height: var(--nav-block-start-height);
  margin-bottom:calc(var(--nav-block-start-height) * -1);
    transition: all .5s var(--ease-in-out-2);



  a {
    color: inherit;
  }

  .placeholder {
    content: '';
    position: absolute;
    inset: 0px;
    background: var(--surface-0);
    box-shadow:var(--shadow-3);
    z-index: -1;
    pointer-events: none;
    transform: translateY(-200%);
    transition: all .125s var(--ease-in-out-2);

  }


  button[aria-expanded="true"]  {
    color:var(--text-1);
   }
}


@keyframes navBlockStartScrollBackgroundAnimation {
  20%,100% {
    transform: translateY(0%)
  }
}

@keyframes navBlockStartScrollTextAnimation {
  20%,100% {
    color: var(--text-0);
  }
}

.nav-block-start {
  animation: navBlockStartScrollTextAnimation linear both;
  animation-timeline: scroll(block root);
  animation-range: 80vh calc(80vh + var(--nav-block-start-height));
}

.placeholder  {
  animation: navBlockStartScrollBackgroundAnimation linear both;
  animation-timeline: scroll(block root);
  animation-range: 80vh calc(80vh + var(--nav-block-start-height));
}