.nav-block-start {
  z-index: var(--layer-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--surface-0);
  opacity:1;
  transition: all .125s var(--ease-in-out-2);



  a {
    color: inherit;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0px;
    background: var(--surface-0);
    box-shadow:var(--shadow-3);
    z-index: -1;
    pointer-events: none;
    transform: translateY(-200%);
    transition: all .125s var(--ease-in-out-2);

  }


  button[aria-expanded="true"]  {
    color:var(--text-1);
   }
 

}


@keyframes navBlockStartScrollAnimation {
  to {
    color: var(--text-0);
    transform: translateY(0%)
  }
}

.nav-block-start,
.nav-block-start:after {
  animation: navBlockStartScrollAnimation linear both;
  animation-timeline: scroll(block root);
  animation-range: 80vh calc(80vh + var(--nav-block-start-height));
}