.nav-block-start {
  z-index: var(--layer-4);
  position: sticky;
  inset-block-start: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0;
  color: var(--surface-1);
  opacity: 1;
  width: 100%;
  max-width: 100dvw;
  background: oklch(var(--surface-1-lightness) var(--hue-blue-3) / var(--opacity-0));
  height: var(--nav-block-start-height);
  margin-inline: auto;
  margin-bottom: calc(var(--nav-block-start-height) * -1);
  border-radius: 0;
  transform: translateY(0rem);
  transition: all 0.5s var(--ease-in-out-2);
  animation: navBlockStartScrollTextAnimation linear both;
  animation-timeline: scroll(block root);
  animation-range: var(--nav-block-start-height)
    calc(var(--nav-block-start-height) * 2);

  a {
    color: inherit;
  }

  button[aria-expanded="true"] {
    color: var(--text-1);
  }
}

@keyframes navBlockStartScrollTextAnimation {
  20%,
  100% {
    padding-inline: var(--size-fluid-1);
    color: var(--text-0);
    border-radius: var(--radius-3);
    background: oklch(var(--surface-1-lightness) var(--hue-blue-0) / var(--opacity-100));
    box-shadow: var(--shadow-3);
    max-width: calc(100dvw - var(--size-fluid-3));
    transform: translateY(calc(var(--size-fluid-3) / 2));
  }
}
