:where(.btn, button, input:is([type=button], [type=submit], [type=reset])),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
    --_border: transparent;
    border-width: 2px;
    font-weight: 500;
    text-shadow: none;
    margin:unset;

     * {
        color:inherit;
    }


}


[aria-pressed="true"] {
    filter:brightness(1.2);
}

[disabled] {
    opacity: .5;
}

.size-small {
    width:max-content;
    min-height: 24px
}

.size-medium {
    width:max-content;
    min-height: 44px;
}

.size-large {
    width:max-content;
    min-height: 56px;
}



.variant-default {

    &.style-standard {
        box-shadow: none;
        border-color: transparent;
        background: var(--color-1);
        .builder-text {
            color:var(--color-14);
        }
    }



    &.style-outlined {
        box-shadow: none;
        border-color:  currentColor;
        background:transparent;
        .builder-text {
            text-shadow: none;
        }
    }

    &.style-filled {
        box-shadow: none;
        border-color:transparent;
        background: var(--color-11);

        .builder-text {
            text-shadow: none;
        }
    }
}


.style-transparent {
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    .builder-text {
        text-shadow: none;
    }
}

.style-blurred {
    box-shadow: none;
    color:currentColor;
    background: transparent;
    border-color: transparent;
    backdrop-filter: blur(2px);
    .builder-text {
        text-shadow: none;
    }
}


.shape-circle {
    padding: 0;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-round);

    &.size-small {
        width: var(--size-fluid-4);
        height: auto;
        box-shadow: var(--shadow-2) !important;
    }

    &.size-medium {
        width: var(--size-fluid-5);
        height: auto;
        box-shadow: var(--shadow-4) !important;
    }

    &.size-large {
        width: var(--size-fluid-7);
        height: auto;
        box-shadow: var(--shadow-5) !important;
    }
}


/*
.variant-primary {
    color: var(--primary);

    &.style-outlined {
        border-color: var(--primary);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--primary);
    }
}

.variant-secondary {
    color: var(--secondary);

    &.style-outlined {
        border-color: var(--secondary);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--secondary);
    }
}

.variant-success {
    color: var(--success);

    &.style-outlined {
        border-color: var(--success);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--success);
    }
}

.variant-warning {
    color: var(--warning);

    &.style-outlined {
        border-color: var(--warning);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--warning);
    }

}

.variant-danger {
    color: var(--danger);

    &.style-outlined {
        border-color: var(--danger);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--danger);
    }
}

.variant-danger {
    color: var(--danger);

    &.style-outlined {
        border-color: var(--danger);
        background: transparent;
    }

    &.style-filled {
        color: var(--surface-2);
        background: var(--danger);
    }
}

*/