
.aside-inline-end {
    padding-block-start: calc(var(--announcement-bar-height) + var(--nav-block-start-height) );
    background:var(--surface-1);
    min-width: 0px;
    max-width: 0px;
    width:20dvw;
    transform:translateX(100vw);
    transition: transform .125s var(--ease-in-out-2);
    height: calc(var(--announcement-bar-height) + var(--nav-block-start-height) + var(--viewport-height));
    box-shadow:var(--shadow-3);
}

body:has(#aside-inline-end-button[aria-expanded="true"]) .aside-inline-end {
    transform:translateX(0vw);
    min-width:320px;
}