.nav-block-end {
  --gray-alpha: 0;
  width: 100%;
  height: var(--nav-block-end-height);
  position: fixed;
  bottom: 0;
  z-index: var(--layer-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface-0);

  &:after {
    content: '';
    position: absolute;
    inset: 0px;
    box-shadow: var(--shadow-3);
    z-index: -1;
    pointer-events: none;
    transform: rotate(180deg);
  }

}