.nav-block-end {
  --gray-alpha: 0;
  width: 100%;
  height: var(--nav-block-end-height);
  position: fixed;
  inset-block-end: 0;
  z-index: var(--layer-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface-0);
  clip-path: inset(-100px 0px 0px 0px);
  transition: all .5s var(--ease-in-out-2);

  &:after {
    content: '';
    position: absolute;
    inset: 0px;
    box-shadow: var(--shadow-1);
    z-index: -1;
    pointer-events: none;
    transform: rotate(180deg);
  }

}

.scrolling:not(.scroll-direction-up) .nav-block-end {
  clip-path: inset(100px 0px 0px 0px);
}