@import "./theme.css";
@import "open-props/normalize";
@import "open-props/buttons";

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman-compressed.var.woff2") format("woff2");
}


html {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

:root {
  --page-width: 100vw;
  --page-height: 100dvh;
  --announcement-bar-height: clamp(2rem, 6vh, 2rem);
  --nav-block-start-height: clamp(2.5rem, 8vh, 4rem);
  --nav-block-end-height:0px;
  --aside-start-width: clamp(2.5rem, 8vh, 4rem);
  --aside-end-width: clamp(2.5rem, 8vh, 4rem);
  --viewport-height: calc(var(--page-height) - (var(--announcement-bar-height) + var(--nav-block-start-height) + var(--nav-block-end-height)));
  --viewport-width: calc(var(--page-height) - (var(--nav-block-start-height) + var(--nav-block-end-height)));

  --section-grid-gap: var(--size-fluid-1);
  --section-grid-rows: 10;
  --section-grid-row-gutter-height: calc(var(--section-grid-gap) * (var(--section-grid-rows) + 3));
  --section-grid-row-height: max(4rem, calc((var(--viewport-height) - var(--section-grid-row-gutter-height)) / 10));
  --section-grid-gutter-x: clamp(1rem, 5vw, 10rem);
  --section-grid-gutter-y: var(--section-grid-gap);
  --section-grid-template-columns: [left-gutter] var(--section-grid-gutter-x) [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col right-gutter] var(--section-grid-gutter-x);
  --section-grid--template-rows: [top-gutter] var(--section-grid-gutter-y) repeat(var(--section-grid-rows), [row] var(--section-grid-row-height)) [bottom-gutter] var(--section-grid-gutter-y);

}