@import "open-props/postcss/style";
@import "open-props/postcss/normalize";
@import "open-props/postcss/buttons";
@import "./brand";

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/inter-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Heading";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/heading.woff2") format("woff2");
}

:root {
  color-scheme: light;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  /* Layout */
  --page-width: 100dvw;
  --page-height: 100dvh;
  --announcement-bar-height: clamp(2rem, 6vh, 2rem);
  --nav-block-start-height: clamp(2.5rem, 8vh, 4rem);
  --nav-block-end-height: 0px;
  --aside-start-width: clamp(2.5rem, 8vh, 4rem);
  --aside-end-width: clamp(2.5rem, 8vh, 4rem);
  --viewport-height: calc(
    var(--page-height) -
      (
        var(--announcement-bar-height) + var(--nav-block-start-height) +
          var(--nav-block-end-height)
      )
  );
  --viewport-width: calc(
    var(--page-height) -
      (var(--nav-block-start-height) + var(--nav-block-end-height))
  );

  /* Theming */

  --color-white: oklch(100% calc(0.03 * 0) calc(249 + (0 * 0)));
  --color-black: oklch(
    0% calc(0.05 * var(--palette-chroma, 1))
      calc(var(--palette-hue) + (15 * var(--palette-hue-rotate-by)))
  );

  --palette-hue: 260;
  --palette-hue-rotate-by: 0;
  --palette-chroma: 0;

  --surface-1: light-dark(var(--color-white), var(--color-15));
  --surface-2: light-dark(var(--color-1), var(--color-13));
  --surface-3: light-dark(var(--color-2), var(--color-10));
  --surface-4: light-dark(var(--color-3), var(--color-9));
  --text-heading: light-dark(var(--color-7), var(--color-2));
  --text-1: light-dark(var(--color-12), var(--color-2));
  --text-2: light-dark(var(--color-10), var(--color-7));
  --border-color: light-dark(var(--color-4), var(--color-12));
  --link: oklch(65% 0.18 var(--palette-hue));

  --space-xxs: var(--size-1);
  --space-xs: var(--size-2);
  --space-sm: calc(var(--size-1) + var(--size-2));
  --space-md: var(--size-3);
  --space-lg: var(--size-5);
  --space-xl: var(--size-7);
  --space-xxl: var(--size-8);
  --space-fluid-md: var(--size-fluid-6);

  --radius-sm: var(--radius-2);
  --radius-md: calc(var(--radius-2) * 2);
  --radius-lg: var(--radius-3);

  --border-thin: var(--border-size-1);

  --timing-function-slow-ease: var(--ease-1);

  --font-size-sm: var(--font-size-0);
  --font-size-body: 0.9375rem;
  /* 15px */
  --line-height-body: calc(1.4 * 1em);
  --font-weight-normal: var(--font-weight-4);
  --font-weight-bold: var(--font-weight-6);

  --plus-mask: url('data:image/svg+xml,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><mask id="plusMask" maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100"><rect width="100" height="100" fill="black"/><path d="M40 20 H60 V40 H80 V60 H60 V80 H40 V60 H20 V40 H40 V20 Z" fill="white"/></mask><rect width="100" height="100" fill="white" mask="url(%23plusMask)"/></svg>');
  --dot-mask: url('data:image/svg+xml,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><mask id="circleMask" maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100"><rect width="100" height="100" fill="black"/><circle cx="50" cy="50" r="32" fill="white" /></mask><rect width="100" height="100" fill="black" mask="url(%23circleMask)"/></svg>');
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--surface-1);
  color: var(--text-1);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  min-block-size: 100dvb;

  * {
    color: var(--text-1);
  }

  .override-typography .builder-text {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-transform: inherit;

    :where(h1, h2, h3, h4, h5, h6) {
      font-size: inherit;
      font-family: "Heading", sans-serif;
      line-height: 1 !important;
      text-transform: inherit;
    }

    :where(p, span) {
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      text-transform: inherit;
    }
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: "Heading", sans-serif;
    line-height: 1 !important;
    max-inline-size: unset;
    color: var(--text-heading);
  }

  :where(h1) {
    font-size: var(--font-size-8);
  }
  :where(h2) {
    font-size: var(--font-size-7);
  }
  :where(h3) {
    font-size: var(--font-size-6);
  }
  :where(h4) {
    font-size: var(--font-size-5);
  }
  :where(h5) {
    font-size: var(--font-size-4);
  }
  :where(.h1 .builder-text :where(h1, h2, h3, h4, h5, h6)) {
    font-size: var(--font-size-8);
  }
  :where(.h2 .builder-text :where(h1, h2, h3, h4, h5, h6)) {
    font-size: var(--font-size-7);
  }
  :where(.h3 .builder-text :where(h1, h2, h3, h4, h5, h6)) {
    font-size: var(--font-size-6);
  }
  :where(.h4 .builder-text :where(h1, h2, h3, h4, h5, h6)) {
    font-size: var(--font-size-5);
  }
  :where(.h5 .builder-text :where(h1, h2, h3, h4, h5, h6)) {
    font-size: var(--font-size-4);
  }
}

:where(
    .heading-prefix,
    .heading-prefix h1,
    .heading-prefix h2,
    .heading-prefix h3,
    .heading-prefix h4,
    .heading-prefix h5,
    .heading-prefix h6
  ) {
  margin-block-end: calc(var(--size-3) * -0.75);
  font-size: var(--font-size-sm) !important;
  font-family: "Inter", sans-serif;
  line-height: var(--font-size-body) !important;
  text-transform: uppercase;
  color: currentColor;
  max-width: max-content;
  border-radius: 1000px;
  &.pill {
    padding-inline: var(--space-sm);
    padding-block: var(--space-xs);
  }
}

.heading-suffix {
  margin-block-start: calc(var(--size-3) * -1.5);
  font-size: var(--font-size-body);
  text-transform: uppercase;
}



